*
!.bashrc
!.gitconfig
!.gitignore
!.wallpapers/
!.wallpapers/**
!.config/
!.config/nvim/
!.config/nvim/**
!.config/rofi/
!.config/rofi/**
!.config/ghostty/
!.config/ghostty/**
!.config/waybar/
!.config/waybar/**
!.config/tmux/
!.config/tmux/tmux.conf
!.config/starship.toml
!.config/nushell/
!.config/nushell/config.nu
!.config/nushell/env.nu
!.config/tmux-sessionizer/
!.config/tmux-sessionizer/**
!.config/hypr/
!.config/hypr/**
!.config/nwg-bar/
!.config/nwg-bar/**
!.config/fastfetch/
!.config/fastfetch/**
