* {
	font-family: "FiraCode Nerd Font";
	font-weight: bold;
	font-size: 18px;
}

window#waybar {
	background: #232136;
	border-radius: 15px;
}

tooltip {
	font-family: inherit;
	background: #232136;
	border: 2px solid #c4a7e7;
	border-radius: 5px;
}

#memory,
#backlight,
#battery,
#clock,
#pulseaudio,
#workspaces button,
#media,
#tray {
	background: #232136;
	padding: 0 12px;
	color: #c4a7e7;
	border-radius: 15px;
}

#pulseaudio {
	margin-right: 8px;
}

#backlight-slider {
	margin-bottom: 1px;
}

#backlight-slider trough {
	min-height: 10px;
	min-width: 60px;
	border-radius: 5px;
}

#backlight-slider highlight {
	border-radius: 5px;
	background: #c4a7e7;
}

#pulseaudio-slider {
	margin-bottom: 1px;
}

#pulseaudio-slider trough {
	min-height: 10px;
	min-width: 60px;
	border-radius: 5px;
}

#pulseaudio-slider highlight {
	border-radius: 5px;
	background: #c4a7e7;
}

#image {
	padding-right: 10px;
}

#clock {
	padding-right: 5px;
}

#workspaces {
	padding: 0 3px;
}

#workspaces button {
	padding: 0px 8px 0px 8px;
	margin-left: 3px;
	border: 1px solid transparent;
	transition-property:
		background-color, border-left-color, border-right-color;
	transition-duration: 0.1s;
	color: #c0caf5;
}

#workspaces button:first-child {
	margin-left: 0;
}

#workspaces button label {
	padding: 0px 4px 0px 2px;
	margin: 0;
}

#workspaces button {
	color: #c4a7e7;
}

#workspaces button.active {
	background: #393552;
}

@keyframes blink {
	to {
		background-color: #e64553;
	}
}
